### Class title: DH 140, Winter 2022
### This file is an exploration of the Business Analytics Dataset. 
[Link to dataset page](https://corgis-edu.github.io/corgis/csv/business_dynamics/)
### This dataset includes American economic measures/, such as the number of openings and closings, job creation, company age and size, etc. 
###      Author: Ophelia Dong. 
# --------------------------------------------------------------

#### Section No.1 Import necessary modules

In [28]:
import pandas as pd

#### Section No.2 Import dataset

In [ ]:
file = pd.read_csv("business_dynamics.csv")

#### Section No.3 Filtering California Companies (Using Conditional Expressions)

In [ ]:
# Finding all Californian companies in this this dataset 
# Save it to a new dataframe called california_data
california_data = file[file["State"] == "California"]

# Look at some of the data 
california_data.head()

In [40]:
# There are 41 Californian companies 
len(california_data)

41

#### Section No.4 Calculates average job creations in California (Mathematical Operations and For Loop)

In [48]:
# In this section, I am calculating the average number of jobs created by Californian companies 
# who created more than 40,000 jobs 

# This is the sum of jobs created
sum_job_created = 0 
# This is the number of californian companies that created more than > 40,000 jobs 
num_company = 0 

# For each iteration, the if statement decides whether the company created more than 40,000 jobs
# If yes, then we add this number to the sum of jobs created, add one to num_company
for num in california_data["Data.Job Creation.Births"]:
    if num > 40000: 
        sum_job_created = sum_job_created + num 
        num_company = num_company + 1 
        

# This is the average number of jobs created by Californian companies who created more than 40,000 jobs,
# From years 1978 ~ 2018 
print(sum_job_created / num_company)

48173.31034482759

#### Section No.4 Find a specific value in a specific state and year (Defining Functions)

In [69]:
# This function takes in three variables, file = dataframe name, state = name of a state in this dataset
# and year = year within the range in this dataset 
# This function outputs the value of any column of the specified state in the specified year 

def find_num_firms(file,state,year,column):
    # take only rows in the wanted year 
    new = file[file["Year"] == year]
    
    # result is the value of the column for that specific state and year wanted
    result = new[new["State"] == state][column]
    
    return result

In [84]:
find_num_firms(file=file,state="California",year=1978,column="Data.Number of Firms")

36821

#### Section No.5 Prints out the number of firms in California for 1978 - 2018 (Using Function and Loops)

In [94]:
for year in list(range(1978,2019)):
    print("State: California |","Year:",year, "| Column:",find_num_firms(file=file,state="California",year=year,column = "Data.Number of Firms").values[0],sep = " ")

State: California | Year: 1978 | Column: 36821
State: California | Year: 1979 | Column: 37250
State: California | Year: 1980 | Column: 37057
State: California | Year: 1981 | Column: 36818
State: California | Year: 1982 | Column: 36204
State: California | Year: 1983 | Column: 37183
State: California | Year: 1984 | Column: 39236
State: California | Year: 1985 | Column: 39591
State: California | Year: 1986 | Column: 39482
State: California | Year: 1987 | Column: 39549
State: California | Year: 1988 | Column: 40139
State: California | Year: 1989 | Column: 40531
State: California | Year: 1990 | Column: 41362
State: California | Year: 1991 | Column: 41236
State: California | Year: 1992 | Column: 41708
State: California | Year: 1993 | Column: 43077
State: California | Year: 1994 | Column: 44218
State: California | Year: 1995 | Column: 45420
State: California | Year: 1996 | Column: 45793
State: California | Year: 1997 | Column: 46053
State: California | Year: 1998 | Column: 46036
State: California | Year: 1999 | Column: 46052
State: California | Year: 2000 | Column: 46170
State: California | Year: 2001 | Column: 45611
State: California | Year: 2002 | Column: 46004
State: California | Year: 2003 | Column: 46517
State: California | Year: 2004 | Column: 47068
State: California | Year: 2005 | Column: 47527
State: California | Year: 2006 | Column: 47887
State: California | Year: 2007 | Column: 48029
State: California | Year: 2008 | Column: 47447
State: California | Year: 2009 | Column: 46617
State: California | Year: 2010 | Column: 46127
State: California | Year: 2011 | Column: 45703
State: California | Year: 2012 | Column: 45646
State: California | Year: 2013 | Column: 45507
State: California | Year: 2014 | Column: 45398
State: California | Year: 2015 | Column: 45337
State: California | Year: 2016 | Column: 45669
State: California | Year: 2017 | Column: 45771
State: California | Year: 2018 | Column: 45821